*{
    text-decoration: none;
    list-style-type: none;
    margin:0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    background-color:limegreen;
    display: flex;
    height: 4em;
    line-height:4em;
    justify-content:lefts ;
}
.logo{
    font-size: 2em;
}
.menu{
    display: flex;
}
.menu li {
    padding-right: 2.5em;
    font-size: 13px;
    border-right: 1px inset;
    text-indent: 15px;
}
.menu li a:hover{
    color: #e32879;
    transition: color .2 ease-out;
}
.menu_down{
    background-color:yellowgreen;
    width: 180px;
    height: 27em;   
    color: black;
    position: absolute;
    line-height: 3em; 
    top:62.5px;
    left: 390px;
    display: none;
    text-align: left;
    border: 1px solid black;
}
.menu_down li{
     text-align: center;
     padding: 0px;
}
.menu_down li a:hover{
    color: #e32879;
}
.menu .menu_link:hover .menu_down {
    display: block;
}
.menu_dow{
    background-color:yellowgreen;
    width: 180px;
    height: 27em;   
    color: black;
    position: absolute;
    line-height: 3em; 
    top:62.5px;
    left: 120px;
    display: none;
    text-align: left;
    border: 1px solid black;
}
.menu_dow li{
     text-align: center;
     padding: 0px;
}
.menu_dow li a:hover{
    color: #e32879;
}
.menu .menu_lin:hover .menu_dow {
    display: block;
}
.menu_do{
    background-color:yellowgreen;
    width: 180px;
    height: 22em;   
    color: black;
    position: absolute;
    line-height: 3em; 
    top:45px;
    left: 180px;
    display: none;
    text-align: left;
    border: 1px solid black;
}
.menu_do li{
     text-align: center;
     padding: 0px;
}
.menu_do li a:hover{
    color: #e32879;
}
.menu .menu_li:hover .menu_do {
    display: block;
}